@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
width: 100%;
min-height: 100%;
margin:0 auto;
padding: 0;
}

body {
font-family: 'Raleway', sans-serif!important;
}

#teamHeading {
display: block;
width: 100%;
text-align: center;
font-size: 3em;

}

.customLine {
margin-bottom: 55px;  
width: 5em;
background-color: #00aced;
height: 1px; 
text-align: center;
}

#wrapper {
display: grid;
grid-template-areas: 
"header header header"
"section section section"
"footer footer footer";
grid-template-rows: 112px 1fr 160px; /* top & bottom rows specified and the inner amounts to 1 frame */
grid-template-columns: repeat(3, 1fr); /* top & bottom cols specified and the inner amounts to 1 frame */
height: 100vh;
margin: 0px;
}

#home-section-one {
background-image: url('city.jpg');
/* Full height */
height: 32em; 
width:100%;
/* Create the parallax scrolling effect */;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#header-text {
width: auto;
display: inline;;  
color: #052551;
font-weight: lighter;
position: absolute;
top: 10px;
left: 20px;
}

.content {
padding: 50px; 
}

#contact-wrapper {  
text-align: center;
}

.contact {
color: #052551;
border: 3px solid #052551;  
padding: 20px 40px;
text-decoration: none;
line-height: 32em;
border-radius: 4px;
transition-property: background-color, color;
transition-duration: .6s;
}

.contact:hover {
background-color: #052551; 
color: #f2f2f2;
}

#main-article {
padding: 20px;
column-count: 3; 
column-gap: 4em; 
margin-top: 5em;
}

address {
font-weight: lighter;
font-family: Arial;  
padding: 7px; 
font-size: 14px;
color: #fff;  
}


/*
================
Team Member
================
*/
.teamMember {
text-align: center;  
display: block;
margin:0 auto;
position: relative;  
width: 50%;
}
.memberContainer {
text-align: center;
position: relative;
margin:0 auto;
display: block;
position: relative;
width: 100%;
}

.image {
display: block;
width: 100%;
height: auto;
margin:0 auto;
position: relative;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #052551;
overflow: hidden;
width: 100%;
height: 15%;
transition: 1s ease;
opacity: .8;
}

.memberContainer:hover .overlay {
height: 100%;
}

.text {
color: white;
font-size: 15px;
position: absolute;
padding-top: 20px;
top: 55%;
line-height: 1.8em;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
width: 100%;
}

.call {
color: #fff;
background-color: #052551;  
}





/*
================
responsive grid
================
*/
.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{
display: inline-block;
vertical-align: top;
}
.span1{
width: 8.2%;
}
.span2{
width: 16.4%;
}
.span3{
width: 24.6%;
}
.span4{
width: 32.8%;
}
.span5{
width: 41%;
}
.span6{
width: 49.2%;
}
.span7{
width: 56.4%;
}
.span8{
width: 65.6%;
}
.span9{
width: 73.8%; 
}
.span10{
width: 82%;
}
.span11{
width: 90.2%;
}
.span12{
width: 98.6%;
}

/*
==============
Nav
==============
*/
.main-nav {
margin-top: 1.7em;
list-style-type: none;
text-align: right;
float: right;
}
.main-nav .icon {
display: none;
}

.main-nav li {
display: inline;
font-size: 17px;
font-weight: 500;
padding: 7px 14px;
width: 20px;
text-transform: uppercase;
}

.main-nav li a {
color: #052551;
text-decoration: none;
}

.responsive-nav {
display: block!important;
}

header, footer {
padding: 5px;
}

header {
background-color: #f2f2f2;
grid-area: header;
}


section {
background-color: #fbfbfb;
grid-area: section;

}

footer {
background-color: #052551;
grid-area: footer;
text-align: center;
padding: 40px;

}

footer cite {
color: #fff;  
text-align: center;
}

.fa-dz-nav {
background: #fff;
color: #052551;
font-size: 29px;
display: none;
cursor: pointer;
top: 30px;
right: 10px;
}

.fa {
background-color: #052551;
color: #fff;
font-size: 29px;
padding: 5px;
margin: 2px;
cursor: pointer;
}

.fa-envelope {
background-color: transparent;
color: #052551;
font-size: 2.5em;
padding: 5px;
margin: 2px;  
display: block;
text-align: center;
cursor: default;
}

.fa-facebook {
padding: 5px 9px;  
}

.fa-instagram {
padding: 5px 9px;  
}
.fa-twitter {
padding: 5px 9px;  
}

.fa-instagram, .fa-facebook, .fa-twitter {
font-size: 22px;  
display: block;
transition-duration: .7s;
transition-property: width, opacity;
width: 20px;
float: right;
opacity: .5;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover {
width: 50px;  
opacity: 1;
}

#icon-wrapper {
position: fixed;
top: 50%;
right: 1px;
width: 30px;
background-color: transparent;
z-index: 1000!important;
}

/*
===========
Form
===========
*/
#contactForm {
width: 70%;  
max-width: 500px;
margin: 0 auto;
position: relative;  
display: block;
text-align: left;
padding: 0 5% 5% 5%;
}

#contactForm textarea {
width: 98%;  
height: 100px;
margin: 0 auto;
display: block;
position: relative;
}

#contactForm input {
width: 98%;    
height: 2.5em;  
margin: 0 auto;
display: block;
position: relative;
}

#contactForm input[type=submit] {
height: auto;
width: 175px;
background-color: green;
color: #f2f2f2;
padding: 10px;
border-radius: 17px;
}

#contactForm input[type=text] {
margin-bottom: 5px;
}

#success {
margin-top: 20px;
display: block;
border: 3px solid green;  
padding: 10px;
display: none;
}

input[type=submit]:focus, input[type=submit]:active, input[type=submit].active, input[type=submit]:focus:active {
background-image: none;
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
}


input[type=submit] {
cursor: pointer;  
}



form h2 {
text-align: center;;  
}

/* 
=============
media queries 
=============
*/
@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {
#home-section-one:before { 
content: ""; 
background-image: url("city.jpg");
background-size: cover; 
position: absolute;
top: 112px; 
left: 0; 
width: 100%; 
height: 32em;  
} 
.contact, .contact a {
position: absolute;
top: 50%;
left: 25%;
right: 25%;
height: 3%;
width: 30%;
padding: 5% 10%;
}
.contact {
line-height: 1.1!important;
}
}
@media screen and (max-width: 500px){
#home-section-one:before { 
content: ""; 
background-image: url("city.jpg");
background-size: cover; 
position: absolute;
top: 112px; 
left: 0; 
width: 100%; 
height: 32em; 
}   
.contact, .contact a {
position: absolute;
top: 50%;
left: 25%;
right: 25%;
height: 3%;
width: 30%;
padding: 5% 10%;
}
.contact {
line-height: 1.1!important;
}
.main-nav li a {
color: #052551;
padding: 1% 30%!important;
}   
.overlay {
height: 20%;
}  
.teamMember {
width: 80%;
}  
.text {
font-size: 14px;
padding-top: 14px;
line-height: 2em;
}
.contact {
line-height: 19em;
}
#main-article {
column-count: 1!important;  
}
.fa-dz-nav {
display: block;  
position: absolute;
top: 30px;
right: 10px!important;
} 
#logo-box, .custom-logo-link, .custom-logo {
max-width: 100%;  
height: auto;
}
}

@media screen and (min-width: 900px) and (max-width: 1400px){
.teamMember {
width: 70%;
 }  
}  


@media screen and (max-width: 900px){  
#main-article {
column-count: 2;  
}  
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{
display: block;
width: 100%;
text-align: center;
margin-bottom: 12px;
} 
.main-nav li {
display: block;
font-size: 17px;
font-weight: 500;
padding: 14px;
width: auto;
text-transform: uppercase;
text-align: center;
background: #f1f1f1;
color: #052551;
margin-top: 1px;
  } 
.main-nav li a {
color: #052551;
padding: 1% 35%;
}  
.sub-menu {
position: relative;
margin:0 auto;
padding: 5px;
}

.sub-menu li {
background-color: #f2f2f2;  
padding: 5px!important;
text-align: left;
}

.sub-menu li a {
color: #052551;  
}
.main-nav {
text-align: center;
padding-top: 2px!important;
padding: 0;
position: absolute;
top: 0px;
z-index: 10000;
width: 97%;
display: none;
margin-top: 110px;
background-color: #052551;
} 
.fa-dz-nav{
background: #f2f2f2;
color: #052551;
display: block;  
position: absolute;
top: 70px;
right: 30px;
  }  
.main-nav li:hover {
border-top: 0px solid #fbfbfb;
  }  
.main-nav li.current-menu-item {
background-color: #fbfbfb;
border: 0px solid #f2f2f2;
  }  
.main-nav li.current-menu-item a {
color: #111;
  }  
}

@media screen and (min-width: 900px){
  /* start of hover effects */
.main-nav li {
  position: relative;
  }
.main-nav li:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  }

.sub-menu li:after, .sub-menu li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  margin: auto;
  width: 50%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 0px!important;
  }
.main-nav li:hover:after{
  width: 100%;
  }
.main-nav li.current-item-menu:not(.sub-menu) {
border-top: 3px solid #f2f2f2;
  } 



.main-nav li,
.main-nav li:after,
.main-nav li:before {
  transition: all .5s;
  }
/* end */
.icon-content {
padding: 1em 1em 1em 3em;
  }
}



/*
============
Transitions
============
*/
.animate{
animation-name: opacity-fade;
animation-duration: .5s;
animation-fill-mode: forwards;  
-webkit-animation-name: opacity-fade;
-webkit-animation-duration: .5s;
-webkit-animation-fill-mode: forwards;  
}

.animate-li{
animation-name: nav-margin;
animation-duration: .8s;
animation-fill-mode: forwards;  
-webkit-animation-name: nav-margin;
-webkit-animation-duration: .8s;
-webkit-animation-fill-mode: forwards;  
}



-webkit-@keyframes nav-margin {
from{margin-bottom:  -25px; opacity: .2;}
to{margin-bottom: 3px; opacity: 1}
}

@keyframes nav-margin {
from{margin-bottom:  -25px; opacity: .2;}
to{margin-bottom: 3px; opacity: 1}
}

-webkit-@keyframes opacity-fade {
from{opacity: .1;}
to{opacity: 1;}
}

@keyframes opacity-fade {
from{opacity: .1;}
to{opacity: 1;}
}


